.container {
  margin-top: 10px;
}

#directionsPanel {
  height: 100%;
  position: absolute;
  width:25%;
  overflow: auto;
  left: 0px;
  padding: 1em;
  // left:-30%;
  // height 100%
}

.address-input {
  width: 100%;
}

#search {
  width: 100%;
}

#map {
  // height: 725px;
  float:right;
  width:75%;
  height: 100vh;
  margin: 0;
  padding: 0;
  // position: relative;
  // height:100%
}