.container {
  margin-top: 10px;
}

.address-input {
  width: 100%;
}

#search-button {
  width: 100%;
}

#search-box {
  display: block;
  left: 0px;
  height: 25vh;
  // width:100%;
  overflow: auto;
  padding: 1em;
}

#map {
  // height: 725px;
  // float:left;
  display: block;
  width: 100%;
  height: 75vh;
  margin: 0;
  padding: 0;
  // position: relative;
  // height:100%
}

#directionsPanel {
  // position: absolute;
  // float: right;
  display: block;
  // width:25%;
  // max-width: 350px;
  overflow: auto;
  left: 0px;
  padding: 1em;
  // left:-30%;
  // height 100%
}

@media (min-width: 700px) {

  #search-box {
    position: absolute;
    left: 0px;
    height: 20vh;
    width: 25%;
    // min-width: 320px;
    // max-width: 350px;
    overflow: hidden; 
    overflow-y: auto;
    padding: 1em;
  }

  #directionsPanel {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 80vh;
    width: 25%;
    // min-width: 320px;
    // max-width: 350px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Add vertical scrollbar */
    padding: 1em;
    // left:-30%;
    // height 100%
  }

  #map {
    position: absolute;
    top:0px;
    right: 0px;
    // height: 725px;
    float:right;
    width:75%;
    height: 100vh;
    margin: 0;
    padding: 0;
    // position: relative;
    // height:100%
  }

}





/*
We set the element we are applying our loading mask to relative  
*/
.loading-mask {
  position: relative;
}

/*
Because we set .loading-mask relative, we can span our ::before  
element over the whole parent element  
*/
.loading-mask::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

/*
Spin animation for .loading-mask::after  
*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*
The loading throbber is a single spinning element with three  
visible borders and a border-radius of 50%.  
Instead of a border we could also use a font-icon or any  
image using the content attribute.  
*/
.loading-mask::after {
  content: "";
  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: transparent rgb(255, 255, 255) rgb(255, 255, 255);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  animation: .75s linear 0s normal none infinite running spin;
  filter: drop-shadow(0 0 2 rgba(0, 0, 0, 0.33));
}