.container {
  margin-top: 10px;
}

.address-input {
  width: 100%;
}

#search-button {
  width: 100%;
}

#search-box {
  top: 0px;
  left: 0px;
  height: 160px;
  overflow: auto;
  padding: 1em;
}

#map {
  width: 100%;
  height: 75vh;
  margin: 0;
  padding: 0;
}

#directionsPanel {
  overflow: auto;
  left: 0px;
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: 700px) {

  #side-panel {
    height: 100vh;
    overflow: auto;
  }

  #search-box {
    height: 160px;
    width: 25%;
    overflow-x: hidden; 
  }

  #directionsPanel {
    width: 25%;
    height 100%;
  }

  #map {
    position: absolute;
    top:0px;
    right: 0px;
    width:75%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

}


/*
We set the element we are applying our loading mask to relative  
*/
.loading-mask {
  position: relative;
}

/*
Because we set .loading-mask relative, we can span our ::before  
element over the whole parent element  
*/
.loading-mask::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

/*
Spin animation for .loading-mask::after  
*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*
The loading throbber is a single spinning element with three  
visible borders and a border-radius of 50%.  
Instead of a border we could also use a font-icon or any  
image using the content attribute.  
*/
.loading-mask::after {
  content: "";
  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: transparent rgb(255, 255, 255) rgb(255, 255, 255);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  animation: .75s linear 0s normal none infinite running spin;
  filter: drop-shadow(0 0 2 rgba(0, 0, 0, 0.33));
}